name: static

on:
  push:
    branches:
    - main
  pull_request:
    branches:
    - main
    
jobs:
  test_static:
    runs-on: [ubuntu-latest]
    steps:
        - name: install clang-format
          run: sudo apt install clang-format
        - name: run clang-format
          run: clang-format .
